[workspace]
members = ["examples/*"]

[package]
name = "iced_term"
description = "Terminal emulator widget powered by ICED framework and alacritty terminal backend."
authors = ["Ilya Shvyryalkin <ilyashvy@gmail.com>"]
version = "0.5.0"
edition = "2021"
repository = "https://github.com/Harzu/iced_term"
categories = ["gui"]
license = "MIT"

[dependencies]
alacritty_terminal = "0.24.0"
iced = { version = "0.13.1", features = [
    "smol",
    "tokio",
    "canvas",
    "wgpu",
    "lazy",
    "advanced",
] }
tokio = { version = "1.40.0", features = ["full"] }
iced_graphics = "0.13.0"
iced_core = "0.13.2"
open = "5.3.0"
anyhow = "1.0.89"
