[workspace]
members = ["examples/*"]

[package]
name = "iced_term"
description = "Terminal emulator widget powered by ICED framework and alacritty terminal backend."
authors = ["Ilya Shvyryalkin <ilyashvy@gmail.com>"]
version = "0.2.1"
edition = "2021"
repository = "https://github.com/Harzu/iced_term"
categories = ["gui"]
license = "MIT"

[dependencies]
alacritty_terminal = "0.21.0"
iced = { version = "0.10.0", features = [
    "smol",
    "tokio",
    "canvas",
    "wgpu",
    "lazy",
    "advanced",
] }
tokio = { version = "1.23.0", features = ["full"] }
iced_graphics = "0.9.0"
iced_tiny_skia = "0.1.0"
iced_core = "0.10.0"
iced_winit = "0.10.1"
